body{
  background-color: #c0c0c0			;
}
hr {
      border-color:black;
      border-style: none;
      border-top-style: dotted;
      width: 20%;
      border-width:10px;


}
h1
{
  color: #008b8b	;

}
h3
{
  text-align: center;

  color: white	;
  letter-spacing: 3px;
}
a
{
  text-decoration: none;
}
